html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales**/
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2, h3, h4{
    font-family: 'PT Sans', sans-serif;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
    line-height: 130%;
}
h3{
    font-size: 3.2rem;
    line-height: 130%;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
/** Utilidades **/
.centrar-texto{
    text-align: center;
}
.no-margin{
    margin:0;
}

/** Header **/
.site-header{
    background-image: url(../Archivos\ Café/img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 45rem;
}
.site-header a{
    color: white;
    text-decoration: none;
}
.site-header h1{
    text-align: center;
    font-weight: 400;
    margin: 0 10px;
}
.site-header h1 span{
    font-weight: 700;
}
.navegacion a {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.8rem;
    margin: 0 10px;
    text-decoration: none;
    color:white;
}
.texto-header {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.texto-header h2 {
    line-height: 4.5rem;
}
.texto-header p{
    width: 90%;
    margin-top: 20px;
    line-height: 2rem;
}
/** Blog **/
.blog{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenido-principal {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 2%
}
.contenido-principal p{
    margin-top: 2%;
}
.entrada-blog{
    display: flex;
    flex-direction: column;
    margin-bottom:10%;
}

.curso {
    padding: 3rem;
    border: 1px solid #e1e1e1;
    border-radius: 5%;
    margin-bottom: 2%;
    
}
.curso:last-of-type {
    margin-bottom: none;
}

.curso h3{
    margin-top:0;
    margin-bottom: 20px;
}

.curso-lista {
    padding: 0;
    list-style: none;
}

.curso span {
    font-weight: bolder;
}

/* Botones */
.btn {
    width: 95%;
    margin-left: 2%;
    padding: 1rem 2rem;
    text-decoration: none;
    text-align: center;
    font-weight: 700px;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.btn-primario{
    background: black;
}
.btn-secundario{
    background: #784d3c;
}

/*Footer*/
.site-footer {
    background: black;
    padding: 3rem;
    margin-top: 4rem;
}
.site-footer p{
    color: white;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}
.site-footer p span {
    font-weight: 700;
}
.site-footer a{
    text-decoration: none;
}








@media (min-width: 768px) {
    .barra {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navegacion {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .texto-header {
        margin-top: 10rem;
    }
    .contenido-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .cursos{
        margin: 0 5%;
    }
}
